@font-face {
    font-family: 'Franklin Gothic';
    src: url('../fonts/FranklinGothic-Medium.eot');
    src: url('../fonts/FranklinGothic-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FranklinGothic-Medium.woff2') format('woff2'),
        url('../fonts/FranklinGothic-Medium.woff') format('woff'),
        url('../fonts/FranklinGothic-Medium.ttf') format('truetype'),
        url('../fonts/FranklinGothic-Medium.svg#FranklinGothic-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
	font-family: 'Bahnschrift';
	src: url('../fonts/Bahnschrift.eot');
	src: local('☺'), url('../fonts/Bahnschrift.woff') format('woff'), url('../fonts/Bahnschrift.ttf') format('truetype'), url('../fonts/Bahnschrift.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


body{
    font-family: 'Franklin Gothic', Arial,sans-serif;
    -webkit-animation: no_skroll 3.5s ease forwards;
    -o-animation: no_skroll 3.5s ease forwards ;
    animation: no_skroll 3.5s ease forwards ;
}

@keyframes no_skroll{
    from{
        overflow-y: hidden;
    }
    to{
        overflow-y: scroll;
    }
}


.spinner{
    position: fixed;
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    background: #2b3544;
    color:white;
    text-align: center;
    justify-content: center;
    align-items: center;
    -webkit-animation: load 2s ease forwards 1.5s;
    -o-animation: load 2s ease forwards 1.5s;
    animation: load 2s ease forwards 1.5s;
    z-index: 10;
}
.ring{
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    animation: ring 2s linear infinite;
}
@keyframes ring{
    0%{
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px #eb8908;
    }
    50%{
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px #18b201;
    }
    100%{
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px #689eeb;
    }
}
.ring:before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 5px rgba(255,255,255,.3);
    border-radius: 50%;
}
span{
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 200px;
    animation: text 3s ease-in-out infinite;
}
@keyframes text{
    50%{
        color: #2b3544;
    }
}
@keyframes load{
    from{
        top: 0px;
        opacity: 1;
    }
    
    to{
        top: -1000px;
        opacity: 0;
    }
}


main{
    width: 100%;
    height: 100%;
}


nav{
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
    z-index: 5;
}
.logo{
    font-size: 28px;
    opacity: 0;
    color: #fff;
    line-height: 60px;
    float: left;
    -webkit-animation: comming 3s ease forwards 2.5s;
    -o-animation : comming 3s ease forwards 2.5s;
    animation: comming 3s ease forwards 2.5s;
}
@keyframes comming{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.menu {
    float: left;
    
}
.menu_item{
    float: left;
    margin-right: 40px;
    line-height: 60px;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    -webkit-animation: top_comming 2s ease forwards ;
    -o-animation: top_comming 2s ease forwards ;
    animation: top_comming 2s ease forwards ;
    opacity: 0;
}
@keyframes top_comming{
    from{
        opacity: 0;
        margin-top: -80px;
    }
    to{
        opacity: 1;
        margin-top: 0px;
    }
}
#menu_item1{
    animation-delay: 2.4s;
}
#menu_item2{
    animation-delay: 2.8s;
}
#menu_item3{
    animation-delay: 3.2s;
}
#menu_item4{
    animation-delay: 3.6s;
}
#menu_item5{
    animation-delay: 4s;
}
#menu_item6{
    animation-delay: 4.4s;
}
.menu a{
    transition: all 0.1s;
    transform: scale(1);
    display: inline-block;
    color: white;
    text-decoration: none;
}
.menu a:visited{
    color: white;
}
.menu a:hover{
    color: #d17700;
}
.menu a:active{
    transform: scale(1.1);
}

.nav_btn{
    color: white;
}
.nav_btn:visited{
    color: white;
}

.main{
    width: 100%;
    height: 100vh ;
    background: url(../img/dog.png) 90% 106%/auto 85% no-repeat ,url(../img/фон.jpg) 0px 0px/100% 98.5% no-repeat;
}

.title_conteiner{
    opacity: 0;
    float: left;
    text-align: center;
    width: 100%;
    z-index: 3;
    -webkit-animation: title_anim 1s ease forwards 3.5s;
    -o-animation: title_anim 1s ease forwards 3.5s;
    animation: title_anim 1s ease forwards 3.5s;
} 

@keyframes title_anim{
    0%{
        opacity: 0;
        margin-left: -500px;
    }
    61%{
        margin-left: 15px;
    }
    87%{
        margin-left: -15px;
    }
    100%{
        opacity: 1;
        margin-left: 0px;
    }
}

.title_conteiner h1{
    font-size: 70px;   
    color: #2c384a;
    font-weight: bold;
}

.title_conteiner h4{
    font-size: 22px;  
    color: #79818d;
    margin-top: 40px;
}

.title_conteiner input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    font-size: 13px;
    padding: 0px 16px;
    margin: 50px 14px 0px 14px; 
    color: #6d7682;
}

.title_conteiner input{
    transition: all 0.15s;
    transform: scale(1);
}
.title_conteiner input:hover{
    background: #344051;
    color: white;
}
.title_conteiner input:active{
    transform: scale(1.1);
}
    
@media (max-width: 1430px){
    .main{
    background: url(../img/dog.png) 90% 106%/auto 70% no-repeat ,url(../img/фон.jpg) 0px 0px/100% 98.5% no-repeat;
    }
    .title_conteiner, .title_conteiner h1, .title_conteiner h4, .title_conteiner input{
        color: white;
        z-index: 3;
        position: relative;
    }
    .title_conteiner input{
     border: 2px solid #fff;   
    }
    .main{
        position: relative;
    }
    .main::after{
        content: "";
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        position: absolute;
        background: rgba(0,0,0,0.3);
        z-index: 1;
    }
}

.about_me{
    width: 100%;
    height: 716px;
    display: flex;
    background: url(../img/фон2.jpg) 0px 0px/100% no-repeat;
    align-items: center;
    justify-content: center;
}

.about_me_conteiner{
    width: 730px;
    float: left;
    text-align: center;
    margin: 0px 10px;
}

h3{
    color: #263244;
    font-size: 26px;
}

[alt="-----"] {
    margin-top: 32px;
}

.about_me_conteiner>img{
    margin-top: 60px;
}

.about_me_conteiner p{
    margin-top: 24px;
    text-align: justify;
    color: #3f495a;
    font-size: 14px;
    line-height: 16px;
}

.about_me_conteiner input{
    margin-top: 34px;
    height: 32px;
    padding: 7px 11px 10px 35px;
    border: 2px solid #6f707e;
    background: url(../img/скачка.png) 11px 7px/auto no-repeat;
    border-radius: 5px;
    font-size: 13px;
    color: #6f707e;
    transition: all 0.1s;
}
.about_me_conteiner input:hover{
    background: url(../img/скачка.png) 11px 7px/auto no-repeat, #d17700;
    color: white;
}
.about_me_conteiner input:active{
     transform: scale(1.1);
}

.my_skills{
    width: 100%;
    height: 524px;
    background: url(../img/фон3.jpg) 0px 0px/100% 100% no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.my_skills_conteiner{
    width: 1089px;
    float: left;
    text-align: center;
}

.all_skills{
    margin-top: 102px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.skills{
    float:left;
    width: 210px;
}

.skills h5{
    color: #cf7600;
    font-weight: bold;
    margin-top: 36px;
    font-size: 16px;
    font-family: 'Bahnschrift',sans-serif;
}

.skills p{
    color: #3f495a;
    text-align: center;
    margin-top: 14px;
    font-size: 14px;
    line-height: 18px;
}
@media (max-width: 840px){
   .all_skills{
        margin-top: 15px;
    } 
}

@media (min-width: 564px) and (max-width: 840px){
    .skills{
        margin: 10px 36px;
    }
}
@media (max-width: 420px){
    .skills{
        width: 150px;
    }
   .skills p{
        font-size: 14px;
    } 
}

.my_skills:hover .skills{
    -webkit-animation: pulse 1s ease forwards;
    -o-animation: pulse ease 1s forwards;
    animation: pulse ease 1s forwards;
}

#sk1{
    animation-delay: 0s;
}
#sk2{
    animation-delay: 0.5s;
}
#sk3{
    animation-delay: 1s;
}
#sk4{
    animation-delay: 1.5s;
}


@keyframes pulse{
    0%{
        -webkit-transform:scaleX(1);
        transform:scaleX(1)
    }
    50%{
        -webkit-transform:scale3d(1.1,1.1,1.1);
        transform:scale3d(1.1,1.1,1.1)
    }
    100%{
        -webkit-transform:scaleX(1);
        transform:scaleX(1)
    }
}




.case{
    height: 1063px;
    display: flex;
    align-items: center;
    justify-content: center;

}


.case_conteiner{
    float: left;
    text-align: center;
    width: 1170px;
    padding: 0px 20px;
    display: flex;
    flex-direction:column;
}

.case_conteiner [alt="-----"]{
    width: 71px;
    align-self: center;
}
.case_conteiner [alt="Изображение"]{
    width: 100%;
}

.case_conteiner>p{
    margin-top: 36px;
    color: #3f495a;
    font-size: 15px;
}

.case_footer{
    float: left;
    text-align: justify;
    
    display: flex;
    justify-content: space-between;
}

.case_footer p{
    color: #3f495a;
    margin-top: 12px;
}

.case_footer h5{
    margin-top: 14px;
    color: #384354;
    font-weight: bold;
    font-size: 16px;
}

.case_inf{
    float: left;
    width: 204px;
}

.name_project{
    float: left;
    width: 75%;
    font-size: 15px;
    line-height: 20px;
    height: 100%;
}

.case_inf input{
    margin-top: 26px;
    height: 44px;
    text-align: center;
    padding: 0px 44px;
    border: none;
    background:  #63b5ae;
    border-radius: 5px;
    font-size: 17px;
    color: #fff;
    font-weight: 550;
    transition: all 0.1s;  
}
.case_inf input:hover{
    background: #d17700;
}
.case_inf input:active{
    transform: scale(1.1);
}
@media (max-width: 850px){
    .case{
        height: 830px;
    }
}
@media (max-width: 500px){
    .case_footer{
    flex-direction:column-reverse;
    }   
    .case_inf{
        width: 100%;
        display: flex;
        justify-content:space-between;
        flex-wrap: wrap;
    }
    .infa{
        float: left;
    }
    .name_project{
        width: 100%;
    }
}


.calc{
    height: 980px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.calc_conteiner{
    height: 840px;
    text-align: justify;
    width: 892px;
    box-shadow: 1px 2px 10px #aaa8a8;
    padding:38px;
    display: flex;
    flex-direction:column;
    margin: 0px 10px;
    
}

.calc_conteiner h3{
    text-align: center;
    color: #1c2534;
    font-size: 36px;
    font-weight: 600;
}

.calc_conteiner h4{
    margin-top: 50px;
    color: #1c2534;
    font-size: 25px;
    font-weight: 560;
    text-transform: uppercase;
    
    
}
.calc_conteiner select{
    appearance: none;
    margin-top: 24px;
    line-height: 16px;
    background: url('../img/стрелка.png') 97% 50%/auto  no-repeat, #eee;
    color: #a1a1a1;
    padding-left: 24px;
    width: 100%;
    height: 58px;
}

.calc_conteiner p{
    color: #2c2c2c;
    margin-top: 22px;
    font-weight: bolder;
    font-size: 15px;
}
.calc_conteiner img{
    width: 100%;
}
.calc_conteiner input{
    margin-top: 40px;
    width: 200px;
    height: 44px;
    text-align: center;
    padding: 0px 34px;
    border: none;
    background:  #63b5ae;
    border-radius: 5px;
    font-size: 17px;
    color: #fff;
    font-weight: 550;
    transition: all 0.1s;  
    align-self: center;
}
.calc_conteiner input:hover{
    background: #d17700;
}
.calc_conteiner input:active{
    transform: scale(1.1);
}


.statistics{
    height: 499px;
    width: 100%;
    float: left;
    background: url(../img/фон4.jpg) 0% 50%/100%  no-repeat;
    background-attachment:  fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.statistics_conteiner{
    width: 1024px;
    text-align: center;
    display: flex;
    flex-direction:column;
}
.statistics_conteiner [alt="-----"]{
    width: 71px;
    align-self: center;
}
.blocks{
    margin-top: 89px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.number{
    color: #323e4f;
    font-weight: 900;
    font-size: 26px;
    margin-top: 32px;
    font-stretch: ultra-condensed ;
}

.textic{
    margin-top: 30px;
    color: #323e4f;
    font-size: 14px;
}

.statistics h3{
    color: #323e4f;
}
@media (max-width: 1400px){
    .statistics{
        background: url(../img/фон4.jpg) 50% 50%/110% 25%  no-repeat;
        background-attachment:  fixed;
    }
}
@media (max-width: 600px){
    .statistic-block{
        width: 50%;
    }
    .statistics{
        background: url(../img/фон4.jpg) 52% 50%/cover  no-repeat;
        
    }
    .blocks{
    margin-top: 20px;
    }
}


.reviews{
    height: 592px;
    width: 100%;
    float: left;
    background:  url(../img/фон5.jpg) 0px 0px/100%  no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews_conteiner{
    margin-top: 100px;
    float: left;
    width: 658px;
    text-align: center;
}

.reviews_block img{
    margin-top: 55px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    overflow: hidden;
}

.reviews_block p{
    margin-top: 35px;
    color: #243042;
    font-size: 16px;
    line-height: 22px;
}
.reviews_block span{
    font-weight: bolder;
}
@media (max-width:398px){
    .reviews_conteiner{
        margin-top: 50px;
    }
    .sherl p, .sherl span{
        font-size: 14px;
    }
}

.feedback{
    height: 808px;
    width: 100%;
    float: left;
    background: url(../img/фон6.jpg) 0px 0px/cover  no-repeat,#eee;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:1200px){
    .feedback{
        background: url(../img/фон6.jpg) -500px 0px/cover  no-repeat,#eee;
    }
}
@media (max-width:690px){
    .feedback{
        background: url(../img/фон6.jpg) 0px 0px/cover  no-repeat,#eee;
    }
}
.feedback_conteiner{
    text-align: center;
    width: 734px;
    color: #fff; 
    display: flex;
    flex-direction:column;
    min-width: 1px;
}

.contacts{
    width: 100%;
}

.contacts h3{
    color: #fff;
    font-size: 32px;
}

.info_contein{
    margin-top: 44px;
    display: flex;
    justify-content: space-around;
}

.contacts>p{
    margin-top: 32px;
}

.info_block p{
    margin-top: 14px;
    line-height: 20px;
}

.message{
    width: 100%;
    float: left;
    text-align: center;
}

.message h4{   
    margin-top: 40px;
    font-size: 16px;
    font-weight: bolder;
}

.feedback:hover .message h4{
    -webkit-animation: pulse 1s ease forwards;
    -o-animation: pulse ease 1s forwards;
    animation: pulse ease 1s forwards;
}
.feedback:hover .contacts h3{
    -webkit-animation: pulse 1s ease forwards;
    -o-animation: pulse ease 1s forwards;
    animation: pulse ease 1s forwards;
}
.inp_text{
    margin-top: 46px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.inp_text input:focus{
    transform: scale(1.02);
    box-shadow: 1px 2px 10px #fff;
}
textarea:focus{
    transform: scale(1.02);
    box-shadow: 1px 2px 5px #fff;
}

.inp_text input{
    width: 351px;
    height: 35px;
    padding-left: 14px;
    background:  rgba(255, 255, 255, 0.8);
}

[placeholder="Email"]{
    margin-left: 10px;
}

textarea{
    width: 100%;
    margin-top: 14px;
    background:  rgba(255, 255, 255, 0.8);
    height: 94px;
    padding: 10px 0px 0px 12px;
}

form>input{
    margin-top: 28px;
    height: 40px;
    padding: 0px 18px;
    border: 2px solid #fff;
    background:  none;
    border-radius: 5px;
    font-size: 20px;
    color: #fff;
    font-stretch:condensed ;
    transition: all 0.1;
}
form>input:hover{
    background: #d17700;
}
form>input:active{
    transform: scale(1.1);
}

.map{
    height: 350px;
    font-size: 30px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.map p{
    font-style: italic ;
}

footer{
    height: 96px;
    width: 100%;
    background: #354051;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p{
    color: #fff;
}
